{
  "extends": ["eslint:recommended", "prettier"],

  "env": {
    "node": true,
    "commonjs": true,
    "es2020": true
  },
  "rules": {
    "no-console": "error"
  },
  "overrides": [
    {
      "files": ["./test/**/*"],
      "env": {
        "mocha": true
      }
    }
  ]
}
