{
  "extends": ["eslint:recommended", "prettier"],

  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "no-console": "error",
  },
  "overrides": [
    {
      "files": ["./test/**/*"],
      "env": {
        "jest": true,
        "node": true
      }
    }
  ]
}
