# yamllint disable rule:line-length
# yamllint disable rule:braces
name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  tests:
    name: Testing with Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - '16.x'
          - '18.x'
          - '19.x'
          - '20.x'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ matrix.node-version }}-${{ hashFiles('package*.json') }}
          restore-keys: |
            npm-${{ matrix.node-version }}-

      - name: Install dependencies
        run: |
          npm install --ignore-scripts

      - name: Build
        run: |
          npm run build --if-present

      - name: Run tests
        run: |
          npm test
